@import "tailwindcss";

* {
  cursor: none;
}
main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #09a7d5;
  background-image:
    url("../assets/backgrounds/nature_1/4.png"),
    url("../assets/backgrounds/nature_1/6.png"),
    url("../assets/backgrounds/nature_1/2.png"),
    url("../assets/backgrounds/nature_1/8.png"),
    url("../assets/backgrounds/nature_1/9.png"),
    url("../assets/backgrounds/nature_1/5.png"),
    url("../assets/backgrounds/nature_1/3.png"),
    url("../assets/backgrounds/nature_1/10.png"),
    url("../assets/backgrounds/nature_1/1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#button-close,
#button-settings,
#button-radio-stations {
  background: none;
  border: none;
}

#button-close:active img {
  content: url("../assets/buttons/x_pressed.png");
}
#button-settings:active img {
  content: url("../assets/buttons/settings3_pressed.png");
}
#button-radio-stations:active img {
  content: url("../assets/buttons/settings1_pressed.png");
}
